*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #b7e3c7;
}
.container{
    width: 40%;
    top: 40%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
}

.top{
    text-align: center;
    margin-top: 0px;
    background-color: #19a056;
    color: white;
    width: 100%;
    border-radius: 0px;
    padding: 15px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.header{
    text-align: center;
    margin-top: 0px;
    background-color: #a0191e;
    color: white;
    width: 100%;
    border-radius: 2px;
    padding: 5px;
    font-size: 40px;
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 78%;
    height: 50px;
    padding: 12px;
    color: #111111;
    font-weight: 700;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    border: 3px solid #d1d3d4;
}

#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}
#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d3dec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}

#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #979394;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #04701f;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
    font-weight:500;
}


